PORT=4006
JWT_SECRET=supersecret
EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your_gmail_app_password
MONGO_URI=mongodb+srv://smartuser:StrongPass123!@cluster0.lpgj8zl.mongodb.net/smart-healthcare?retryWrites=true&w=majority