PORT=4007
MONGO_URI=mongodb+srv://smartuser:StrongPass123!@cluster0.lpgj8zl.mongodb.net/smart-payment?retryWrites=true&w=majority
JWT_SECRET=supersecret
APPOINTMENT_URL=http://localhost:4004
FRONTEND_URL=http://localhost:5173

